bin/
gen/
*.log
*.jar
!*/assets/*.jar
!libs/*.jar
!*/libs/*.jar
*.swp
doc/
obj/
local.properties
Documentation/
.metadata
lint.xml
export/
.DS_Store
/tags
/.tags
build/
*.iml
dump.txt

assets/crashlytics-build.properties
res/values/com_crashlytics_export_strings.xml
